body{
	background-color: rgb(45, 45, 45);
}

header h1{
	background-color: #00B9FF;
	padding-left: 500px;
	
}

header h1 p{
	color: darkred;
	padding-right: 500px;
	
}

header h1 nav ul li a {
	padding-left: 250px;
	color: white;
	
}